@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundPers{
  @apply bg-[url(/assets/image/bg1.png)] bg-zinc-700 bg-opacity-40 backdrop-blur-xl;
}
.iconeSkills{
  @apply text-[40px] sm:text-[100px] m-auto;
}
.maxContent{
  @apply max-w-[1200px]
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

